<html>
    <head>
        <title>Meeting Manager</title>
        <script src="/js/jquery-1.11.3.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <div class="container" id="center">
            <h1>Welcome to meeting manager</h1>
        </div>
        <div class="container" id="center">
        <img src="/img/voting.png" alt="voting image" style="height:50%"><br>
            <button type="button" id="midButton" onclick="location.href = '/login'">Log in</button>
            <button type="button" id="midButton" onclick="location.href = '/newaccount'">I don't have an account</button>
        </div>
    </body>
</html>