<html>
    <head>
        <title>Meeting Manager</title>
        <script src="/js/jquery-1.11.3.js"></script>
        <script src="../routes/login.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <div class="container" id="center">
            <h1>Welcome back to meeting manager</h1>
            <h2>Please log in</h2>
        </div>
        <div class="container" id="center">
            <form name="login" id="loginForm" method="post">
                Username:<br>
                <input type="text" name="username" id="username" placeholder="username"><br>
                Password:<br>
                <input type="password" name="password" id="password" placeholder="password"><br>
                <br>
                <button type="button" id="midButton"><input type="submit" value="Log In"></button>
            </form>
            <br>
            <button type="button" id="midButton-b" onclick="location.href = '/'">Go back</button>
        </div>
    </body>
</html>