<html>
    <head>
        <title>Meeting Manager</title>
        <script src="/js/jquery-1.11.3.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <div class="container" id="center">
            <h1>Welcome back to Meeting Manager</h1>
            <h2>Please enjoy your stay</h2>
        </div>
        <div class="container" id="center">
            <img src="/img/results.jpg" alt="voting image">
            <br>
            <br>
        </div>
        <div class="container" id="center">
            <button type="button" id="midButton-b" onclick="location.href = 'https://drive.google.com/drive/u/0/my-drive'">Take Minutes</button>
            <br>
            <br>
            <button type="button" id="midButton" onclick="location.href = '/vote'">Vote</button>
            <button type="button" id="midButton" onclick="location.href = '/winner'">Get Results</button>
            <br>
            <br>
            <button type="button" id="midButton-b" onclick="location.href = 'https://mail.google.com/mail/u/0/#inbox'">Send Emails</button>
        </div>
    </body>
</html>